* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1 !important;
}

.cryptos {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 80%;
  margin: 0 auto 4px auto;
  box-shadow: 1px 1px 0 lightgrey;
}
