.board {
  box-shadow: 6px 0 7px -2px rgba(0, 0, 0, 0.3),
    -6px 0 7px -2px rgba(0, 0, 0, 0.3);
}

.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  height: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  color: #333333;
  text-align: center;
}

.cryptos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 55px;
  margin: 0 -15px 1px -15px;
  box-shadow: 0 1px 0 lightgrey;
  color: #111111;
}

.cryptos:hover {
  background: #f1f1f1;
}

.coin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coin img {
  width: 28px;
}

.view-more-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.view-more-button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
  background: rgb(24, 198, 131);
  border: none;
  color: white;
  font-weight: 700;
  width: 120px;
  height: 30px;
  border-radius: 30px;
}

.view-more-button:focus {
  outline: none;
}
.none {
  display: none;
}

/* Oculta la columna de symbol en pantallas inferiores a 992 px */
@media only screen and (max-width: 991px) {
  #coin-symbol {
    display: none;
  }
}

/* Centra el contenido en mobile */
@media only screen and (max-width: 768px) {
  .coin-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Oculta la columna de symbol y capitalización en pantallas inferiores a 480 px */

@media only screen and (max-width: 480px) {
  #coin-marketcap {
    display: none;
  }
  .board-header div {
    font-size: 13px;
  }
  .coin p {
    font-size: 14px;
  }
}
