.board {
  box-shadow: 6px 0 7px -2px rgba(0, 0, 0, 0.3),
    -6px 0 7px -2px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  height: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  color: #333333;
  text-align: center;
}

.board-header h2 {
  font-size: 26px;
  margin-top: 5px;
  font-weight: 600;
}

.subtitle {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.cryptos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 55px;
  margin: 0 -15px 1px -15px;
  box-shadow: 0 1px 0 lightgrey;
  color: #111111;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrar-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.padding30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.exchange-logo {
  width: 80px;
  border-radius: 50%;
}

.chart {
  padding-bottom: 30px;
}

/* Centra el contenido en mobile */
@media only screen and (max-width: 768px) {
  .exchange-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Oculta la columna bid/ask en pantallas inferiores a 768 px */
@media only screen and (max-width: 768px) {
  #exchange-bidask {
    display: none;
  }
}

/* Oculta la columna bid/ask y coin en pantallas inferiores a 480 px */
@media only screen and (max-width: 480px) {
  #exchange-bidask,
  #exchange-coin {
    display: none;
  }
}
