.board {
  box-shadow: 6px 0 7px -2px rgba(0, 0, 0, 0.3),
    -6px 0 7px -2px rgba(0, 0, 0, 0.3);
}

.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  height: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  color: #333333;
  text-align: center;
}

.exchanges {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 55px;
  margin: 0 -15px 1px -15px;
  box-shadow: 0 1px 0 lightgrey;
}

.exchanges:hover {
  background: #f1f1f1;
}

.exchange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exchange img {
  width: 32px;
  border-radius: 50%;
}

/* Oculta la columna ranking, pais y año en pantallas inferiores a 767 px */
@media only screen and (max-width: 767px) {
  #exchange-ranking,
  #exchange-year,
  #exchange-country {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .board-header div {
    font-size: 13px;
  }
  .coin p {
    font-size: 14px;
  }
}
