.footer-box {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f51b5,
    #64b5f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f51b5,
    #64b5f6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  height: 180px;
  padding-top: 40px;
  margin-top: 40px;
}

.footer-data {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  color: white;
}

.footer-item h6 {
  font-size: 16px;
  font-weight: 700;
}

.footer-item p {
  font-size: 14px;
  font-weight: 500;
}
.footer-item a,
.about {
  font-size: 14px;
  font-weight: 500;
  color: rgb(235, 235, 235);
  margin-bottom: 5px;
  display: block;
}

.footer-item a:hover,
.about:hover {
  text-decoration: none;
  color: white;
}

.social {
  display: flex;
}

.social i {
  margin-right: 10px;
}

.about {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .footer-item h6 {
    font-size: 14px;
  }
  .footer-item a,
  .footer-item p {
    font-size: 12px;
  }
}
