.header-wrapper {
  background-color: #ffffff;
}

.title {
  text-align: center;
  color: #222222;
  font-size: 22px;
  font-weight: 700;
  vertical-align: middle;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focusring-color;
}

.navbar-toggler {
  border: 0px;
}
