.market-box {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f51b5,
    #64b5f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f51b5,
    #64b5f6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  height: 200px;
  padding-top: 40px;
  margin-bottom: -110px;
}

.market-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.market-item {
  text-align: center;
  margin-top: -15px;
}

.market-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

.market-item p {
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .market-item h4 {
    font-size: 16px;
  }

  .market-item p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .market-item h4 {
    font-size: 14px;
  }
  .market-item p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  .market-item h4 {
    font-size: 14px;
  }
  .market-item p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .market-item h4 {
    font-size: 12px;
  }
}
